@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("media.css");

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  // overflow-y: hidden;
  overflow-x: hidden;
  // overflow: hidden;
}

// html, body, main {
//   width: 100vw;
//   height: 100vh;
// }

$backgroundNavBar: #1f2235;
$navBarTextColor: #ffffff;
$navBarTextHoverColor: #ff4a57;
$mainBackgroundColor: #24263b;
$helloPageBackgroundColor: #24263b;
$servicesPageBackgroundColor: #1f2235;
$mainColor: $navBarTextHoverColor;

@mixin maxWidth() {
  max-width: 1170px;
  margin: auto;
}

@mixin btn($article-class-name, $with) {
  .#{$article-class-name} {
    @if $with {
      width: fit-content;
    }
    & > a > p {
      border: 2px solid;
      color: #fff;
      font-weight: 500;
      display: inline-block;
      padding: 13px 40px;
      border-radius: 50px;
      font-size: 18px;
      border-color: #ff4a57;
      font-weight: 900;

      &:hover {
        background-color: #ff4a57;
        transition: 0.5s;
      }
    }
  }
}

@mixin language-line-percent(
  $language-percentage,
  $percent-class,
  $line-class,
  $lang-type
) {
  .#{$percent-class} {
    right: 100% - $language-percentage;
    top: 5px;
    font-size: 15px;
    color: white;
    position: absolute;

    border: 2px solid white;
    padding: 3px 6px;
    border-radius: 5.5px;
  }

  .#{$percent-class}::after {
    border-style: solid;
    border-width: 0.3125rem 0.3125rem 0 0;
    border-color: #fff transparent transparent transparent;
    bottom: -0.4375rem;
    content: "";
    left: 1.375rem;
    position: absolute;
  }

  .#{$line-class} {
    width: $language-percentage;
    height: 5px;
    background: $navBarTextHoverColor;
  }

  .#{$lang-type} {
    padding: 0 0 11px 0;
    color: white;
  }
}

.nav-bar {
  padding: 40px 0;
  background-color: $backgroundNavBar;
  & > ul.pc-style {
    @include maxWidth();
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    & > li > a {
      color: $navBarTextColor;
      text-decoration: none;
      font-size: 18px;
      &:hover {
        color: $navBarTextHoverColor;
        transition: 0.5s;
      }
    }
  }
}

div.index-container {
  & > section.hello-page {
    position: relative;
    background: $helloPageBackgroundColor;
    padding-bottom: 50px;
    & > section.hello-page-div {
      width: 93%;
      @include maxWidth();
      & > article.hello-page-urls {
        padding-top: 120px;
        margin-bottom: 50px;
        & > ul {
          & > li:nth-child(1) {
            position: relative;
            left: 0.5px;
          }
          display: flex;
          list-style: none;
          & > li {
            list-style: none;
            display: inline-block;
            padding: 0 20px;
            & > a {
              display: block;
              color: unset;
              text-align: center;
              font-size: 20px;
              text-align: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              // & > i:before{
              //     border: 3px;
              //   border-style: solid;
              //   border-color: #ff4a57;
              //    border-radius: 50%;
              // }
              color: white;
              i {
                font-weight: 900;
                font-size: 60px;
                height: 60px;
              }
            }
            & > a > img {
              filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
                saturate(12%) hue-rotate(194deg) brightness(103%) contrast(104%);
            }
            & > a:hover {
              color: #ff4a57;
              font-weight: 900;
              transition: 0.5s;
              img {
                filter: invert(38%) sepia(53%) saturate(1634%)
                  hue-rotate(323deg) brightness(109%) contrast(114%);
                transition: 0.3s;
              }
            }
          }

          & > li:nth-child(1) {
            padding-left: 0;
          }

          & > li:nth-child(2) {
            & > a {
              width: 66px;
              position: relative;
              height: 69px;
              & > img {
                width: 67.5px;
                height: 68.9px;
                position: absolute;
                left: -4.5px;
                top: -4px;
              }
            }
          }
          & > li:nth-child(3) {
            & > a {
              height: 71px;
              & > i {
                font-size: 60px;
              }
            }
          }
        }
      }

      & > article.hello-page-owner-name {
        color: white;
        & > h2 {
          font-size: 40px;

          @keyframes typing {
            from {
              width: 0;
            }
          }

          @keyframes blink {
            50% {
              border-color: transparent;
            }
          }

          width: 14ch;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          white-space: nowrap;
          overflow: hidden;
          border-right: 3px solid;
          font-family: monospace;
          //   font-size: 2em;
        }

        & > p {
          margin-top: 20px;
          font-size: 28px;
          width: 60%;
        }
      }

      // SHOULD MAKE IT RESPONSIBLE
      & > article.hello-page-background-name {
        // position: relative;

        & > p {
          position: relative;
          color: white;
          font-size: 40px;
          letter-spacing: 50px;
          font-family: "Tangerine", cursive;
          transform: rotate(334deg);
          top: -270px;
          left: 148px;
          opacity: 0.2;
          overflow: hidden;
        }
      }

      // SHOULD MAKE IT RESPONSIBLE
      & > article.hello-page-owner-picture {
        position: absolute;
        top: 0px;
        left: 65%;
        & > img {
          // height: 516px;
          height: 615px;
        }
      }

      @include btn(hello-page-owner-portfolio-btn, true);
    }
  }

  & > section.services-page {
    padding-top: 100px;
    background-color: $servicesPageBackgroundColor;

    & > article.services-page-title {
      text-align: center;
      & > h1:nth-child(1) {
        color: $mainColor;
        margin-bottom: 20px;
      }

      & > h1:nth-child(2) {
        color: white;
        font-size: 50px;
      }

      & > p {
        width: 50%;
        margin: auto;
        margin-top: 15px;
        color: white;
        font-size: 17px;
      }
    }
  }
}

article.space-page {
  border: 2px;
  border-style: solid;
  width: 50px;
  margin: auto;
  color: $navBarTextHoverColor;
  text-align: center;
  margin-top: 20px;
}

.services-whatcando {
  @include maxWidth();
  margin-top: 100px;
  padding: 0 0 40px 0;

  & > .services-whatcando-ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;

    & > li {
      margin-top: 10px;
      width: 350px;
      // border: 3px solid none;
      background-color: #23263a;
      border-radius: 20px;
      padding: 10px;

      & > article.services-icon {
        color: $mainColor;
        font-size: 50px;
      }

      & > article.services-title {
        color: white;
      }

      & > article.services-text {
        color: rgb(226, 226, 226);
        font-size: 18px;
      }

      & > article {
        margin: 20px 0;
      }

      & > .services-icon > i {
        transition: 1s;
      }

      &:hover {
        background-color: $mainColor;
        transition: 1s;

        & > .services-icon > i {
          transition: transform 1s ease-in-out, color 1s ease-in-out;
          transform: rotateY(-360deg);
          color: white;
        }
      }
    }
  }
}

nav.nav-bar {
  & > .phone-menu {
    display: none;
  }

  & > .phone-menu {
    z-index: 9999;
    position: fixed;
    top: 11px;
    left: 13px;
    font-size: 1.5rem;
    > i {
      color: #fff;
    }
  }

  & > .phone-style {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s ease-out;

    position: fixed;
    z-index: 9999;
    // border: solid orange;
    font-size: 40px;
    padding: 25px;
    left: 13px;
    top: 50px;
    background: $navBarTextHoverColor;
    border-radius: 10px;
    & > li {
      &:hover {
        background-color: #ffa0a6;
      }
      list-style: none;
      padding: 5px 0;
      & > a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.p-active {
  // display: unset !important;
  visibility: visible !important;
  opacity: 1 !important;
}

section.about-me-page {
  background: $mainBackgroundColor;
  padding-top: 80px;

  & > article.about-me-page-title {
    @include maxWidth();
    color: white;
    text-align: center;
    & > h1 {
      font-size: 50px;
    }

    & > p {
      width: 50%;
      margin: auto;
      margin-top: 15px;
      color: white;
      font-size: 17px;
    }
  }

  & > .about-me-page-pictures-infos-phones {
    padding-bottom: 80px;
    display: flex;
    @include maxWidth();
    // text-align: center;
    justify-content: center;
    color: white;

    & > .about-me-page-picture {
      // width: 47%;
    }

    & > .about-me-page-infos {
      width: 57%;
      margin-top: 30px;
      // display: flex;
      & > .about-me-page-info {
        
        & > h2 {
          font-size: 50px;
        }
        
        & > p {
          margin-top: 10px;
        }
      }

      & > .about-me-page-phones-info {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        max-width: 70%;
      }

      & > .about-me-page-phones-info-flex {
        display: flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 70%;
        margin-top: 20px;

        & > .about-me-page-phones-info {
          & > article {
            margin: 10px 0;
            & > h3 {
              margin: 2px 0;
              color: $navBarTextHoverColor;
            }
          }
        }
      }
    }
  }
}

.lets-work-page {
  background: $servicesPageBackgroundColor;
  padding-bottom: 50px;

  & > section {
    @include maxWidth();
    // width: 93%;
    // margin: auto;
  }

  & > section.lets-work-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include maxWidth();

    & > section.lets-work-left-side {
      & > .title-expert {
        padding: 100px 0 25px 0;
        & > h1 {
          color: $navBarTextHoverColor;
        }
      }

      & > .title-lets-work {
        & > h1 {
          font-size: 50px;
          width: 260px;
          color: white;
        }
      }

      & > .title-text {
        padding: 30px 0;
        & > p {
          color: white;
          width: 350px;
          line-height: 23px;
        }
      }

      @include btn(hire-me-btn, false);
    }

    & > section.lets-work-right-side {
      width: 500px;
      margin-right: 15px;

      & > article {
        padding: 9px 0;
      }

      & > .lets-work-skill-java {
        // width: 500px;
        position: relative;
        // transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);

        @include language-line-percent(
          98%,
          language-percent,
          work-skill-line,
          language-type
        );
      }

      & > .lets-work-skill-mysql {
        // width: 500px;
        position: relative;
        // transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);

        @include language-line-percent(
          97%,
          language-percent,
          work-skill-line,
          language-type
        );
      }

      & > .lets-work-skill-dart {
        // width: 500px;
        position: relative;
        // transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);

        @include language-line-percent(
          90%,
          language-percent,
          work-skill-line,
          language-type
        );
      }

      & > .lets-work-skill-angular {
        // width: 500px;
        position: relative;
        // transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);

        @include language-line-percent(
          95%,
          language-percent,
          work-skill-line,
          language-type
        );
      }

      & > .lets-work-skill-html {
        // width: 500px;
        position: relative;
        // transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);

        @include language-line-percent(
          95%,
          language-percent,
          work-skill-line,
          language-type
        );
      }

      & > .lets-work-skill-js {
        // width: 500px;
        position: relative;
        // transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);

        @include language-line-percent(
          96%,
          language-percent,
          work-skill-line,
          language-type
        );
      }

      & > .lets-work-skill-junit {
        // width: 500px;
        position: relative;
        // transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);

        @include language-line-percent(
          98%,
          language-percent,
          work-skill-line,
          language-type
        );
      }
    }
  }
}

#backtotop {
  position: fixed;
  bottom: 40px;
  right: 30px;
  transform: rotate(-45deg);

  &:hover {
    cursor: pointer;
  }

  & > i {
    color: $navBarTextHoverColor;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $mainBackgroundColor !important; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $navBarTextHoverColor !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $navBarTextHoverColor !important; 
}



































// HTML SHOW ELEMENTS WHILE SCROLLING
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
  @media (prefers-reduced-motion) {
    .animated {
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

.doing {
  transform: rotate(-35deg);
  display: block;
  position: absolute;
  top: 0;
  left: -90px;
  margin-top: 25px;
  text-align: center;
  background-color: #15748b;
  width: 300px;
  color: #fff;
  padding: 5px 0px;
}

.will-fadeIn {
  display: block;
  width: 100%;
  max-width: 640px;
  // margin: 20px auto;
  // background-color: #b7f7f7;
  // padding: 10px;
  &:nth-child(odd) {
    // background: #ffeded;
  }
  &:first-child {
    height: auto;
    // background-color: #edffff;
  }
}

.fadeInRight {
  @include animation("fadeInRight .5s ease .4s both");
}

.fadeInLeft {
  @include animation("fadeInLeft .5s ease .4s both");
}

@include keyframes(fadeInRight) {
  from {
    opacity: 0;
    @include transform(translate3d(100%, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

@include keyframes(fadeInLeft) {
  from {
    opacity: 0;
    @include transform(translate3d(-100%, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}
