@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

.nav-bar {
  padding: 40px 0;
  background-color: #1f2235;
}
.nav-bar > ul.pc-style {
  max-width: 1170px;
  margin: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.nav-bar > ul.pc-style > li > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
.nav-bar > ul.pc-style > li > a:hover {
  color: #ff4a57;
  transition: 0.5s;
}

div.index-container > section.hello-page {
  position: relative;
  background: #24263b;
  padding-bottom: 50px;
}
div.index-container > section.hello-page > section.hello-page-div {
  width: 93%;
  max-width: 1170px;
  margin: auto;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls {
  padding-top: 120px;
  margin-bottom: 50px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul {
  display: flex;
  list-style: none;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li:nth-child(1) {
  position: relative;
  left: 0.5px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li > a {
  display: block;
  color: unset;
  text-align: center;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li > a i {
  font-weight: 900;
  font-size: 60px;
  height: 60px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li > a > img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(12%) hue-rotate(194deg) brightness(103%) contrast(104%);
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li > a:hover {
  color: #ff4a57;
  font-weight: 900;
  transition: 0.5s;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li > a:hover img {
  filter: invert(38%) sepia(53%) saturate(1634%) hue-rotate(323deg) brightness(109%) contrast(114%);
  transition: 0.3s;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li:nth-child(1) {
  padding-left: 0;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li:nth-child(2) > a {
  width: 66px;
  position: relative;
  height: 69px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li:nth-child(2) > a > img {
  width: 67.5px;
  height: 68.9px;
  position: absolute;
  left: -4.5px;
  top: -4px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li:nth-child(3) > a {
  height: 71px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul > li:nth-child(3) > a > i {
  font-size: 60px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-name {
  color: white;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-name > h2 {
  font-size: 40px;
  width: 14ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-name > p {
  margin-top: 20px;
  font-size: 28px;
  width: 60%;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-background-name > p {
  position: relative;
  color: white;
  font-size: 40px;
  letter-spacing: 50px;
  font-family: "Tangerine", cursive;
  transform: rotate(334deg);
  top: -270px;
  left: 148px;
  opacity: 0.2;
  overflow: hidden;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-picture {
  position: absolute;
  top: 0px;
  left: 65%;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-picture > img {
  height: 615px;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-portfolio-btn {
  width: -moz-fit-content;
  width: fit-content;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-portfolio-btn > a > p {
  border: 2px solid;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  padding: 13px 40px;
  border-radius: 50px;
  font-size: 18px;
  border-color: #ff4a57;
  font-weight: 900;
}
div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-portfolio-btn > a > p:hover {
  background-color: #ff4a57;
  transition: 0.5s;
}
div.index-container > section.services-page {
  padding-top: 100px;
  background-color: #1f2235;
}
div.index-container > section.services-page > article.services-page-title {
  text-align: center;
}
div.index-container > section.services-page > article.services-page-title > h1:nth-child(1) {
  color: #ff4a57;
  margin-bottom: 20px;
}
div.index-container > section.services-page > article.services-page-title > h1:nth-child(2) {
  color: white;
  font-size: 50px;
}
div.index-container > section.services-page > article.services-page-title > p {
  width: 50%;
  margin: auto;
  margin-top: 15px;
  color: white;
  font-size: 17px;
}
div.index-container > section.services-page > article.services-page-space {
  border: 2px;
  border-style: solid;
  width: 50px;
  margin: auto;
  color: #ff4a57;
  text-align: center;
  margin-top: 20px;
}

.services-whatcando {
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;
}
.services-whatcando > .services-whatcando-ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}
.services-whatcando > .services-whatcando-ul > li {
  width: 350px;
  background-color: #23263A;
  border-radius: 20px;
  padding: 10px;
}
.services-whatcando > .services-whatcando-ul > li > article.services-icon {
  color: #ff4a57;
  font-size: 50px;
}
.services-whatcando > .services-whatcando-ul > li > article.services-title {
  color: white;
}
.services-whatcando > .services-whatcando-ul > li > article.services-text {
  color: rgb(226, 226, 226);
  font-size: 18px;
}
.services-whatcando > .services-whatcando-ul > li > article {
  margin: 20px 0;
}
.services-whatcando > .services-whatcando-ul > li > .services-icon > i {
  transition: 1s;
}
.services-whatcando > .services-whatcando-ul > li:hover {
  background-color: #ff4a57;
  transition: 1s;
}
.services-whatcando > .services-whatcando-ul > li:hover > .services-icon > i {
  transition: transform 1s ease-in-out, color 1s ease-in-out;
  transform: rotateY(-360deg);
  color: white;
}

@media only screen and (max-width: 1098px) {
  article.hello-page-owner-picture {
    left: 60% !important;
  }
  article.hello-page-owner-picture > img {
    height: 643px !important;
  }
}
@media only screen and (max-width: 900px) {
  article.hello-page-owner-picture {
    left: 57% !important;
  }
  article.hello-page-owner-picture > img {
    height: 676px !important;
  }
}
@media only screen and (max-width: 778px) {
  article.hello-page-owner-picture {
    display: none;
  }
  div.index-container > section.hello-page > section.hello-page-div > article.hello-page-urls > ul {
    justify-content: center;
  }
  div.index-container > section.hello-page > section.hello-page-div > article.hello-page-owner-name > p {
    width: unset;
  }
  nav.nav-bar > ul.pc-style {
    display: none;
  }
  nav.nav-bar > .phone-menu {
    display: unset !important;
  }
}
nav.nav-bar > .phone-menu {
  display: none;
}
nav.nav-bar > .phone-menu {
  z-index: 9999;
  position: fixed;
  top: 11px;
  left: 13px;
  font-size: 1.5rem;
}
nav.nav-bar > .phone-menu > i {
  color: #fff;
}
nav.nav-bar > .phone-style {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-out;
  position: fixed;
  z-index: 9999;
  font-size: 40px;
  padding: 25px;
  left: 13px;
  top: 50px;
  background: #ff4a57;
  border-radius: 10px;
}
nav.nav-bar > .phone-style > li {
  list-style: none;
  padding: 5px 0;
}
nav.nav-bar > .phone-style > li:hover {
  background-color: #ffa0a6;
}
nav.nav-bar > .phone-style > li > a {
  color: white;
  text-decoration: none;
}

.p-active {
  visibility: visible !important;
  opacity: 1 !important;
}/*# sourceMappingURL=index.css.map */